namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets | default("")}}
dockerhub: {{ dockerhub | default("dockerhub")}}

replicaCount: {{claim_ms_replicacount|default(1)}}
repository: {{claim_ms_repository|default('sunbird-rc-claim-ms')}}
image_tag: {{ image_tag | default('v0.0.13')}}
resources:
  requests:
    cpu: {{claim_ms_cpu_req|default('100m')}}
    memory: {{claim_ms_mem_req|default('100Mi')}}
  limits:
    cpu: {{claim_ms_cpu_limit|default('1000m')}}
    memory: {{claim_ms_memory_limit|default('1024Mi')}}
network:
  port: 8082
  targetport: 8082
strategy:
  type: RollingUpdate
  maxsurge: {{ claim_ms_maxsurge|default('50%') }}
  maxunavailable: {{ claim_ms_maxunavailable|default('50%') }}

autoscaling:
  enabled: {{ claim_ms_autoscaling_enabled | default('false') }}
  minReplicas: {{ claim_ms_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ claim_ms_autoscaling_maxReplicas|default(3) }}
  targetCPUUtilizationPercentage: {{ claim_ms_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ claim_ms_autoscaling_targetMemoryUtilizationPercentage|default('') }}

claim_msenv:
  connectionInfo_uri: {{ postgres_connectionInfo_uri }}
  connectionInfo_username: {{ postgres_connectionInfo_username }}
  connectionInfo_password: {{ postgres_connectionInfo_password }}
  sunbirdrc_url: http://registry:8081
